/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */

atom-workspace {
  font-family: "SFMono-Regular";
}

atom-panel-container,
atom-pane-container,
.tree-view,
.tab-bar,
.tab-bar .tab .title {
  background-color: #010407;
}

.title-bar {
  background-color: #22252a;
}

.line-number {
  font-size: 8px;
  line-height: 18px;
  color: #fff;
}

atom-text-editor {
  background-color: #010509;
  font-family: "SFMono-Regular";
  font-size: 12px;
}
